@model Web.ViewModels.AddSignViewModel;
    <main class="pt-5 container">
       
        <div class="d-flex justify-content-center">
            <h4>Добавление дорожного знака</h4>
        </div>
                
        <form enctype="multipart/form-data" asp-area="" asp-action="AddSign" asp-controller="Admin" method="post">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <input asp-for="Sign.Name" type="text" placeholder="Название знака" class="form-control" />
                        @Html.ValidationMessageFor(x=>x.Sign.Name)
                    </div>
                    <div class="form-group">
                        <label for="select1">Тип знака: </label>
                        <select id="select1" asp-items="@(new SelectList(Model.Types, "ID", "Name"))" asp-for="Sign.Type.ID" class="browser-default custom-select">
                        </select>
                        @Html.ValidationMessageFor(x=>x.Sign.Type)
                    </div>
                    <div class="form-group">
                        @*<div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Поиск</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" asp-for="Image" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01" />
                                <label class="custom-file-label" for="inputGroupFile01">Изображение знака</label>
                            </div>
                        </div>*@
                        <div class="input-group">    
                            <div class="custom-file">
                                <input type="file" asp-for="Image" class="custom-file-input" id="inputGroupFile01"/>
                                <label class="custom-file-label" for="inputGroupFile01">Изображение знака</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Информация о знаке</label>
                        <textarea asp-for="Sign.Information" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="4"></textarea>
                        @Html.ValidationMessageFor(x=>x.Sign.Information)
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Подсказки</label>
                        <textarea asp-for="Sign.Hints" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                        @Html.ValidationMessageFor(x=>x.Sign.Hints)
                    </div>
                    <div class="form-group">
                        <label>Предназначение знака: </label>
                        <div class="form-inline">
                            <label>
                                @Html.CheckBoxFor(m=>m.Sign.ForKids) Для детей &nbsp;
                            </label>
                            <label>
                                @Html.CheckBoxFor(m => m.Sign.ForPedestrians) Для пешеходов &nbsp;
                            </label>
                            <label>
                                @Html.CheckBoxFor(m => m.Sign.ForDrivers)Для водителей &nbsp;
                            </label>
                            <label>
                                @Html.CheckBoxFor(m => m.Sign.ForBikers) Для велосипедистов &nbsp;
                            </label>
                        </div>
                        @Html.ValidationMessageFor(x=>x.Sign.ForKids)
                    </div>

                    <br />
                    <input type="submit" class="btn btn-blue-grey justify-content-center" value="Сохранить"/>
        </form>
    </main>
