@model List<Data.Models.Question>
@{
    ViewData["Title"] = "Управление вопросами";
}

<main class="container-fluid">
    <div class="jumbotron-fluid check">
        <h1>Управление вопросами</h1>
    </div>
    <br />
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Текст вопроса</th>
            <th>Связанный знак</th>
            <th>Количество вариантов</th>
            <th>Для детей</th>
            <th>Для пешеходов</th>
            <th>Для водителей</th>
            <th>Для велосипедистов</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Text</td>
                <td>@item.Sign.Name</td>
                <td>@item.Variants.Count</td>
                <td>@(item.ForKids ? "Да" : "Нет")</td>
                <td>@(item.ForPedestrians ? "Да" : "Нет")</td>
                <td>@(item.ForDrivers ? "Да" : "Нет")</td>
                <td>@(item.ForBikers ? "Да" : "Нет")</td>
                <td> <a asp-action="AddQuestion" asp-controller="Admin" asp-route-modelid="@item.ID" class="btn btn-dark-green">Изменить</a> </td>
                <td> <a asp-action="RemoveQuestion" asp-controller="Admin" asp-route-modelid="@item.ID" class="btn btn-danger">Удалить</a> </td>
            </tr>
        }
    </table>
    <br />
    <a asp-area="" asp-action="AddQuestion" asp-controller="Admin" class="btn btn-blue">
        Добавить вопрос
    </a>
</main>


